.App {
  text-align: center;
  height: 100vh;
  margin: 0 25vw 0 25vw;
  display: flex;
  flex-direction: column;
}

.App-content {
    padding: 0;
}

.App-header {
    margin-bottom: auto;
}

.App-footer {
    margin-top: auto;
}

.Page-header {
    float: left;
}

.white-space {
    min-width: 2em;
}
